In [27]:
#11. Write a Python function that takes two lists and returns True if they have at least one common member
def two_list(l1, l2):
    res = False
    for a in l1:
        for b in l2:
            if a == b:
                res = True
                return res

In [28]:
two_list([1,2,3], [1,8,9])

True

In [21]:
l1 =[1,2,3]
l2 = [1,8,9]
for a in l1:
    for b in l2:
        if a == b:
            print('same')
        else:
            print('not same')

same
not same
not same
not same
not same
not same
not same
not same
not same

In [23]:
for a, b in zip(l1,l2):
    #print(a,b)
    if a == b:
        print('same')

same

In [35]:
#12. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# Expected Output : ['Green', 'White', 'Black']
list1 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [36]:
list1.pop(0)

'Red'

In [37]:
list1.pop(3)

'Pink'

In [40]:
list1

['Green', 'White', 'Black', 'Yellow']

In [41]:
list1.pop(3)

'Yellow'

In [42]:
list1

['Green', 'White', 'Black']

In [50]:
list2 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list2 = [ j for (i,j) in enumerate(list2) if i not in (0,4,5)]
list2

['Green', 'White', 'Black']

In [56]:
x1 = [3,3,3,4,4,4,4,5,5,6,3,3,4,4,4]
x2 = [10,20,30,40,25,35]
x3 = [ ]
idx = 0
l = x1[0]
for v in x1:
    if l!=v:
        idx+=1
    x3.append(x2[idx])
    l = v

In [53]:
x3

[10, 10, 10, 20, 20, 20, 20, 30, 30, 40, 25, 25, 35, 35, 35]

In [61]:
# Write a nested for loop program to print multiplication table in Python

for i in range(1,11):
    for j in range(1,11):
        print(i*j, end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [68]:
rows = 5
for i in range(1, rows+1):
    for j in range(1, i+1):
        print('*', end = "")
    print()

*
**
***
****
*****

In [ ]:
# Assume we wanted to repeat each name from a list five times.

# Here we will iterate the list using an outer for loop
# In each iteration of outer for loop, the inner for loop execute five times to print the current name five times

In [79]:
names = ['Kelly', 'Jessa', 'Emma']
for name in names:
    print(name * 5, end = "")
    print()

KellyKellyKellyKellyKelly
JessaJessaJessaJessaJessa
EmmaEmmaEmmaEmmaEmma

In [76]:
[ name*5 for name in names]

['KellyKellyKellyKellyKelly',
 'JessaJessaJessaJessaJessa',
 'EmmaEmmaEmmaEmmaEmma']

In [77]:
for name in names:
    count = 0
    while count < 5:
        print(name, end = ' ')
        count+=1
    print()

Kelly Kelly Kelly Kelly Kelly
Jessa Jessa Jessa Jessa Jessa
Emma Emma Emma Emma Emma

In [84]:
# Practice: Print a rectangle Pattern with 5 rows and 3 columns of stars
n = 5
for i in range(1, n+1):
    for j in range(1, i-2):
        print('*'*n)

*****
*****
*****

In [85]:
for i in range(5):
    for j in range(3):
        print("*", end = "")
    print()

***
***
***
***
***

In [86]:
# In the following example, we have two loops. The outer for loop iterates the first list, and the inner loop also iterates the second list of numbers.

# If the outer number and the inner loopâ€™s current number are the same, then move to the next iteration of an inner loop.
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [88]:
#Tables in python
for i in range(1,11):
    for j in range(1,11):
        print(i, '*', j, '=', i*j)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [91]:
for i in range(11,21):
    for j in range(1, 11):
        print(i, '*', j, '=', i*j)
    print()

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [94]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []

In [99]:
for i in first:
    for j in second:
        final.append(i+j)

In [96]:
final

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [100]:
[i+j for i in first for j in second]

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [101]:
[[i,j] for i in first for i in second if i!=j]

[[20, 40], [30, 40], [20, 40], [30, 40], [20, 40], [30, 40]]

In [102]:
[i+j for i in first for i in second if i!=j]

[60, 70, 60, 70, 60, 70]

In [103]:
#In this example, we will print the first 10 numbers on each line 5 times.
i = 1
while i<=5:
    j = 1
    while j<=10:
        print(j, end = "")
        j = j+1
    i = i+1
    print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [ ]:
print('Show Perfect number fom 1 to 100')
n = 2
# outer while loop
while n <= 100:
    x_sum = 0
    # inner for loop
    for i in range(1, n):
        if n % i == 0:
            x_sum += i
    if x_sum == n:
        print('Perfect number:', n)
    n += 1