In [4]:
 nums = [1,2,3,4,5]
dd = map(lambda x : x+x+x, nums)
print(list(dd))

[3, 6, 9, 12, 15]

In [5]:
d = list(map(lambda x : x**3, nums))
d

[1, 8, 27, 64, 125]

In [8]:
def add(n):
    return n+n
num = [1,2,3,4]
df = list(map(add, num))
df

[2, 4, 6, 8]

In [11]:
nums1 = [1,2,3,4]
nums2 = [7,8,9,10]
ff = list(map(lambda x,y: x+y, nums1, nums2))
ff

[8, 10, 12, 14]

In [12]:
l = ['apple', 'ball', 'cat']
tt = list(map(list, l))
tt

[['a', 'p', 'p', 'l', 'e'], ['b', 'a', 'l', 'l'], ['c', 'a', 't']]

In [13]:
list('apple')

['a', 'p', 'p', 'l', 'e']

In [30]:
def countsetbit(num):
    binary = bin(num)
    return len([ch for ch in binary if ch=='1' ])
def countsetbitall(input):
    print(sum(map(countsetbit, input)))

if __name__ == "__main__":
    n = 8
    
    input = []
    for i in range(1, n+1):
        input.append(i)
    countsetbitall(input)

13

In [25]:
def countsetbitall(n):
    print(sum(map(lambda x: bin(x).count('1'), range(1, n+1))))
n=8
countsetbitall(n)

13

In [32]:
def mul(a,b,c):
    return a*b*c

l1 = [1,2,3]
l2 = [3,4,5]
l3 = [7,8,9]
result = list(map(mul, l1, l2,l3))
print(result)

[21, 64, 135]

In [33]:
def division(a,b):
    return a/b

lst = [1,2,3,4,5]
tup = (1,2,3,4,5)
res = list(map(division, lst, tup))
print(res)

[1.0, 1.0, 1.0, 1.0, 1.0]

In [6]:
import handcalcs.render
from math import sqrt

In [3]:
# !pip install handcalcs

In [20]:
%%render
a = 10
b = 20
c = 30
d = b+c

In [11]:
import handcalcs.render
from math import tan
 
p = 5
r = 12
s = 3.5
 
# run the code below in a new Jupyter cell
%%render
t = tan(p ** r + r / s) * r

UsageError: Line magic function `%%render` not found.

In [24]:
%%render
p = 5
r = 12
s = 3.5
t = tan(p**r+r/s)*r

In [27]:
%%render
r = (-b + sqrt(b**2 - 4 * a*c))/(2*a)

In [42]:
with open('python.txt', 'r+') as f:
    print(f.read())

This module contains some useful functions on pathnames. The path parameters are either strings or bytes . These functions here are used for different purposes such as for merging, normalizing and retrieving path names in python . All of these functions accept either only bytes or only string objects as their parameters.
The result is an object of the same type, if a path or file name is returned. As there are different versions of operating system so there are several versions of this module in the standard library.

In [43]:
with open('python.txt', 'r+') as file:
    print(file.readlines())

['This module contains some useful functions on pathnames. The path parameters are either strings or bytes . These functions here are used for different purposes such as for merging, normalizing and retrieving path names in python . All of these functions accept either only bytes or only string objects as their parameters. \n', 'The result is an object of the same type, if a path or file name is returned. As there are different versions of operating system so there are several versions of this module in the standard library.\n']

In [45]:
ques = ['name', 'color', 'shape']
ans = ['apple', 'red', 'circle']
for ques, ans in zip(ques, ans):
    print('what is your {0} and i am {1}'.format(ques, ans))

what is your name and i am apple
what is your color and i am red
what is your shape and i am circle

In [53]:
[i**2 for i in range(10) if i < 5]

[0, 1, 4, 9, 16]

In [55]:
[letter for letter in 'apple']

['a', 'p', 'p', 'l', 'e']

In [58]:
num = [1, 2,3,4]
xx = list(map(lambda x : x+7, num))
xx

[8, 9, 10, 11]

In [61]:
num1 = [1,2]
num2 = [3,5]
f = list(map(lambda x, y : x+y, num1, num2))
f

[4, 7]

In [62]:
list(map(lambda x: x, 'human'))

['h', 'u', 'm', 'a', 'n']

In [64]:
lst = [i for i in range(10) if i%2==0]
lst

[0, 2, 4, 6, 8]

In [72]:
lst1 = [y for y in range(100) if y%2==0 if y%5==0 if y%3 ==0]
lst1

[0, 30, 60, 90]

In [75]:
obj = ['even' if i%2==0 else 'odd' for i in range(10)]
obj

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [80]:
transposed = []
matrix = [[1,2,3,4], [4,5,7,8]]
for i in range(len(matrix[0])):
    transposed_row = []
    
    for row in matrix:
        transposed_row.append(row[i])
        print('transposed_row', transposed_row)
    transposed.append(transposed_row)
print(transposed)

transposed_row [1]
transposed_row [1, 4]
transposed_row [2]
transposed_row [2, 5]
transposed_row [3]
transposed_row [3, 7]
transposed_row [4]
transposed_row [4, 8]
[[1, 4], [2, 5], [3, 7], [4, 8]]

In [ ]:
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

In [82]:
matrix = [[1,2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [83]:
a = [2,3,4,7,8,9]
b = [i for i in a if i>5]
b

[7, 8, 9]

In [87]:
b = []
for i in a:
    if i>5:
        b.append(i)
b

[7, 8, 9]

In [85]:
a

[2, 3, 4, 7, 8, 9]

In [89]:
b = []
b1 = []
for i in a:
    if i>2:
        b.append(i)
        if i>5:
            b1.append(i)
b, b1

([3, 4, 7, 8, 9], [7, 8, 9])

In [91]:
c = [x*2 for x in a if x>5]
c

[14, 16, 18]

In [93]:
names = ['raju', 'ramu', 'kalyan']
new_names = [name for name in names if name.lower().startswith('r')]
new_names

['raju', 'ramu']

In [95]:
new_names = [name for name in names if name.lower().endswith('n')]
new_names

['kalyan']

In [97]:
import numpy as np
A = np.random.randint(10, size = (4,4))
A

array([[6, 3, 5, 9],
       [0, 2, 0, 3],
       [6, 5, 8, 1],
       [1, 1, 3, 3]])

In [98]:
max_element = [max(i) for i in A]
max_element

[9, 3, 8, 3]

In [99]:
vals = [[2,3,4], [4,5,7], [7,8,9]]
val_max = [max(x) for x in vals]
val_max

[4, 7, 9]

In [100]:
names = ['raju', 'ramu', 'kalyan', 'sunny']
new_names = [name for name in names if name.lower().endswith('y') & len(name)>2]#and
new_names

['sunny']

In [108]:
new_names = [name for name in names if name.lower().endswith('n') |  name.startswith('k')]#or
new_names

['kalyan']

In [109]:
vals = [[1,2,3],[4,5,2],[3,2,6]]
vals_exp = [j for i in vals for j in i]
vals_exp

[1, 2, 3, 4, 5, 2, 3, 2, 6]

In [111]:
import pandas as pd

In [112]:
pd.Series(vals).explode()

0    1
0    2
0    3
1    4
1    5
1    2
2    3
2    2
2    6
dtype: object

In [121]:
text = [['bar','foo','fooba'],['Rome','Madrid','Houston'], ['aa','bb','cc','dd']]
text_1 = [y for x in text if len(x)>3 for y in x]
text_1

['aa', 'bb', 'cc', 'dd']

In [116]:
text_1 = []
for x in text:
    if len(x)>3:
        for y in x:
            text_1.append(y)
text_1

['Rome', 'Madrid', 'Houston', 'raju', 'aa', 'bb', 'cc', 'dd']

In [115]:
text_2 = [y for x in text for y in x if len(y)>4]
text_2

['fooba', 'Madrid', 'Houston']

In [117]:
text_2 = []
for x in text:
    for y in x:
        if len(y)>4:
            text_2.append(y)
text_2

['fooba', 'Madrid', 'Houston']

In [123]:
text_3 = [y.upper() for x in text if len(x)==3 for y in x if y.startswith('f')]
text_3

['FOO', 'FOOBA']

In [124]:
text_3 = []
for x in text:
    if len(x)==3:
        for y in x:
            if y.startswith('f'):
                text_3.append(y.upper())
text_3

['FOO', 'FOOBA']