**Python Lists**

**The following are the properties of a list.**

Mutable: The elements of the list can be modified. We can add or remove items to the list after it has been created.

Ordered: The items in the lists are ordered. Each item has a unique index value. The new items will be added to the end of the list.

Heterogenous: The list can contain different kinds of elements i.e; they can contain elements of string, integer, boolean, or any type.

Duplicates: The list can contain duplicates i.e., lists can have two items with the same values.

**Why use a list?**

The list data structure is very flexible It has many unique inbuilt functionalities like pop(), append(), etc 
which makes it easier, where the data keeps changing.

Also, the list can contain duplicate elements i.e two or more items can have the same values.

Lists are Heterogeneous i.e, different kinds of objects/elements can be added

As Lists are mutable it is used in applications where the values of the items change frequently.

**Creating a Python list**

The list can be created using either the list constructor or using square brackets [].

Using list() constructor: In general, the constructor of a class has its class name. Similarly, Create a list 
by passing the comma-separated values inside the list().

Using square bracket ([]): In this method, we can create a list simply by enclosing the items inside the square brackets.

In [14]:
# using list constructor
my_list1 = list((100,200,300))
print(my_list1)
print(type(my_list1))
print(id(my_list1))

#list using square bracket
my_list2 = [100, 200, 300, 400, 500]
print(my_list2)
print(type(my_list2))

# with heterogeneous items
my_list3 = [100, 'raju', 7.77]
print(my_list3)
print(type(my_list3))

#empty list using list()
my_list4 = list()
print(my_list4)
print(type(my_list4))

#empty list using []
my_list5 = []
print(my_list5)
print(type(my_list5))

[100, 200, 300]
<class 'list'>
1837939895296
[100, 200, 300, 400, 500]
<class 'list'>
[100, 'raju', 7.77]
<class 'list'>
[]
<class 'list'>
[]
<class 'list'>

Length of a List

In order to find the number of items present in a list, we can use the len() function.

In [15]:
my_list = [100, 200, 300, 'raju']
print(len(my_list))

4

**Accessing items of a List**
The items in a list can be accessed through indexing and slicing. This section will guide you by accessing the list using the following two ways

**Using indexing**, we can access any item from a list using its index number

**Using slicing**, we can access a range of items from a list

***Indexing***

The list elements can be accessed using the “indexing” technique. Lists are ordered collections with unique indexes 
for each item. We can access the items in the list using this index number.

To access the elements in the list from left to right, the index value starts from zero to (length of the list-1) 
can be used. For example, if we want to access the 3rd element we need to use 2 since the index value starts from 0.


**Note:**

As Lists are ordered sequences of items, the index values start from 0 to the Lists length.
Whenever we try to access an item with an index more than the Lists length, it will throw the 'Index Error'.
Similarly, the index values are always an integer. If we give any other type, then it will throw Type Error.

In [19]:
my_list = [100, 200, 'raju', 300, 400]
#accessing second element from the list
print(my_list[1])
#accssing 5th element from the list
print(my_list[4])

200
400

As seen in the above example we accessed the second element in the list by passing the index value as 1.
Similarly, we passed index 4 to access the 5th element in the list.

***Negative Indexing***
The elements in the list can be accessed from right to left by using negative indexing. 
The negative value starts from -1 to -length of the list. 
It indicates that the list is indexed from the reverse/backward.

In [21]:
my_list = [100, 200, 'raju', 300, 400]
#accessing last element of the list
print(my_list[-1])
#accessing 2nd last element of the list
print(my_list[-2])
#accessing 4th element from last
print(my_list[-4])

400
300
200

As seen in the above example to access the 4th element from the last (right to left) we pass ‘-4’ in the index value.

List Slicing
Slicing a list implies, accessing a range of elements in a list. For example, 
if we want to get the elements in the position from 3 to 7, we can use the slicing method. 
We can even modify the values in a range by using this slicing technique.

The below is the syntax for list slicing.

listname[start_index : end_index : step]

The start_index denotes the index position from where the slicing should begin and the end_index parameter denotes 
the index positions till which the slicing should be done.

The step allows you to take each nth-element within a start_index:end_index range.

In [23]:
my_list = [100, 200, 'raju', 300, 400]
#exatracting a portion of the list from 2nd element till 5th element
print(my_list[2:5])

['raju', 300, 400]

Let us see few more examples of slicing a list such as

Extract a portion of the list

Reverse a list

Slicing with a step

Slice without specifying start or end position

In [27]:
#Examples
my_list = [100, 'raju', 200, 300, 'kalyan']
#slicing 1st 4 items
print(my_list[:4])
#point every 2nd element with the skip of 2
print(my_list[::2])
#reversing the list
print(my_list[::-1])
#with out end va;ue
#starting from 3rd item to last item
print(my_list[3:])

[100, 'raju', 200, 300]
[100, 200, 'kalyan']
['kalyan', 300, 200, 'raju', 100]
[300, 'kalyan']

In [28]:
#Iterating a List
my_list = [100, 'raju', 200, 300, 'kalyan']
for item in my_list:
    print(item)

100
raju
200
300
kalyan

Iterate along with an index number

The index value starts from 0 to (length of the list-1). Hence using the function range() is ideal for this scenario.

The range function returns a sequence of numbers. By default, it returns starting from 0 to the specified number 

(increments by 1). The starting and ending values can be passed according to our needs.

In [29]:
my_list = [100, 'raju', 200, 300, 'kalyan']

#iterate a list

for i in range(0, len(my_list)):
    #print each item using index number
    print(my_list[i])

100
raju
200
300
kalyan

Adding elements to the list

We can add a new element/list of elements to the list using the list methods such as append(), insert(), and extend().

Append item at the end of the list

The append() method will accept only one parameter and add it at the end of the list.

In [32]:
my_list = list([100, 'raju', 200, 300])
#using append
my_list.append('kalyan')
print(my_list)
#append the nested list at the end
my_list.append([1000, 2000, 3000])
print(my_list)

[100, 'raju', 200, 300, 'kalyan']
[100, 'raju', 200, 300, 'kalyan', [1000, 2000, 3000]]

Add item at the specified position in the list

Use the insert() method to add the object/item at the specified position in the list. 

The insert method accepts two parameters position and object.

insert(index, object)

In [35]:
my_list = [100, 200, 300]
#using insert()
#insert 777 at 2nd postion
my_list.insert(2, 777)
print(my_list)
#insert the nested list at position 3
my_list.insert(2, [1000, 2000, 'raju'])
print(my_list)

[100, 200, 777, 300]
[100, 200, [1000, 2000, 'raju'], 777, 300]

***Using extend()***

The extend method will accept the list of elements and add them at the end of the list. 

We can even add another list by using this method.

In [39]:
my_list = list([100,200, 'raju', 400])

# using extend

my_list.extend([1000, 2000, 3000])
print(my_list)

[100, 200, 'raju', 400, 1000, 2000, 3000]

As seen in the above example we have three integer values at once. 

All the values get added in the order they were passed and it gets appended at the end of the list.

Modify the items of a List

The list is a mutable sequence of iterable objects. It means we can modify the items of a list. 

Use the index number and assignment operator (=) to assign a new value to an item.

Let’s see how to perform the following two modification scenarios

Modify the individual item.

Modify the range of items

In [45]:
my_list = [100, 200, 300, 'raju']
#modifying single item
my_list[2] = 1000
print(my_list)
#modifying range of items
my_list[1:4] = [777, 888, 999]
print(my_list)
#modifying 2nd item to end
my_list[2:] = [1,2,3,4]
print(my_list)

[100, 200, 1000, 'raju']
[100, 777, 888, 999]
[100, 777, 1, 2, 3, 4]

In [47]:
#Modify all items

my_list = list([1, 2, 3,4,5])
for i in range(len(my_list)):
    # # calculate square of each number
    square = my_list[i]*my_list[i]
    my_list[i] = square
print(my_list)

[1, 4, 9, 16, 25]

**Removing elements from a List**

remove(item)	To remove the first occurrence of the item from the list.

pop(index)	Removes and returns the item at the given index from the list.

clear()	To remove all items from the list. The output will be an empty list.

del list_name	Delete the entire list.

Remove specific item

Use the remove() method to remove the first occurrence of the item from the list.

Note:  It Throws a keyerror if an item not present in the original list.

In [54]:
my_list = list([100, 200, 300, 400, 'raju'])
#remove 200
my_list.remove(200)
#remove raju
my_list.remove('raju')
print(my_list)

[100, 300, 400]

Remove item present at given index

- Use the pop() method to remove the item at the given index. 
- The pop() method removes and returns the item present at the given index.

- Note: It will remove the last time from the list if the index number is not passed.

In [57]:
my_list = list([100, 200, 300, 400, 500])

In [58]:
#remove the item at index 2
my_list.pop(2)

300

In [59]:
#remove the item without passing index number
my_list.pop()#it will remove the last item from list

500

In [60]:
print(my_list)

[100, 200, 400]

Remove the range of items
- Use del keyword along with list slicing to remove the range of items

In [61]:
my_list = list([100, 200, 300, 400, 500])

In [62]:
#remove the range of items
#remove the items from 2 to 5
del my_list[2:5]

In [63]:
my_list

[100, 200]

In [64]:
my_list = list([100, 200, 300, 400, 500])
#remove the all items starting from index 3
del my_list[3:]

In [65]:
my_list

[100, 200, 300]

 Remove all items

- Use the list’ clear() method to remove all items from the list. The clear() method truncates the list.

In [67]:
my_list = list([100, 200, 300, 400, 500])

In [68]:
#claer list
my_list.clear()

In [69]:
my_list

[]

In [70]:
#delete entire list
my_list = list([100, 200, 300, 400, 500])
del my_list

Finding an element in the list

- The index() function will accept the value of the element as a parameter and returns the first occurrence of the element 
- or returns ValueError if the element does not exist.

In [71]:
my_list = list([100, 200, 300, 400, 500])
print(my_list.index(200))

1

In [72]:
#return the error since element not exist in the list
my_list.index(1000)

ValueError: 1000 is not in list

Concatenation of two lists

- The concatenation of two lists means merging of two lists. There are two ways to do that.

- Using the + operator.
- Using the extend() method. The extend() method appends the new list’s items at the end of the calling list.

In [73]:
my_list1 = list([100, 200, 300])
my_list2 = list([777, 888, 999])

In [75]:
#concatenation using + operator
my_list3 = my_list1+my_list2

In [76]:
my_list3

[100, 200, 300, 777, 888, 999]

In [77]:
#concatenation using extend method
my_list1.extend(my_list2)

In [78]:
my_list

[100, 200, 300, 777, 888, 999]

Copying a list
- There are two ways by which a copy of a list can be created. Let us see each one with an example.

- Using assignment operator (=)
- This is a straightforward way of creating a copy. In this method, the new list will be a deep copy. The changes that we make in the original list will be reflected in the new list.

- This is called deep copying.

In [91]:
my_list = [100, 200, 300]

In [92]:
#copy using = operator
new_list = my_list

In [93]:
new_list

[100, 200, 300]

In [94]:
#making changes in original list
my_list.append(777)

In [95]:
my_list

[100, 200, 300, 777]

In [96]:
new_list #changes happend in new list also

[100, 200, 300, 777]

- As seen in the above example a copy of the list has been created. The changes made to the original list are reflected in the - copied list as well.

- Note: When you set list1 = list2, you are making them refer to the same list object, so when you modify one of them, all references associated with that object reflect the current state of the object. So don’t use the assignment operator to copy the dictionary instead use the copy() method.

Using the copy() method
- The copy method can be used to create a copy of a list. 
- This will create a new list and any changes made in the original list will not reflect in the new list. This is shallow copying.

In [85]:
my_list = [100,200, 300]
#using copy method 
new_list = my_list.copy()

In [86]:
new_list

[100, 200, 300]

In [87]:
#making changes in oiginal list
my_list.append(777)

In [88]:
my_list

[100, 200, 300, 777]

In [89]:
new_list

[100, 200, 300]

As seen in the above example a copy of the list has been created. 
The changes made to the original list are not reflected in the copy.

List operations
- We can perform some operations over the list by using certain functions like sort(), reverse(), clear() etc.

Sort List using sort()
- The sort function sorts the elements in the list in ascending order.

In [98]:
my_list = [100, 200, 777, 300]

In [99]:
my_list.sort()

In [100]:
my_list

[100, 200, 300, 777]

Reverse a List using reverse()
- The reverse function is used to reverse the elements in the list.

In [101]:
my_list = [100, 200, 300, 777]

In [102]:
my_list.reverse()

In [103]:
my_list

[777, 300, 200, 100]

Python Built-in functions with List
In addition to the built-in methods available in the list, we can use the built-in functions as well on the list. 
Let us see a few of them for example.

Using max() & min()
The max function returns the maximum value in the list while the min function returns the minimum value in the list.

In [104]:
my_list = [100, 200, 300, 777]

In [105]:
min(my_list) ##returns the maximum number in the list.

100

In [106]:
max(my_list) #returns the minimum number in the list.

777

Using sum()

- The sum function returns the sum of all the elements in the list.

In [107]:
my_list = [100, 200, 300, 400]
sum(my_list)

1000

any()
- The any() method will return true if there is at least one true value. 
- In the case of Empty List, it will return false.
- Let us see the same possible combination of values for any() function in a list and its return values.

Item Values in List	Return Value
- All Values are True	-- True
- One or more False Values --	 True
- All False Values	 -- False
 - Empty List	--  False

In [110]:
#with all True values

my_list = [1, 1, True]
print("any() True Value: ", any(my_list))

any() True Value:  True

In [111]:
#with one Flase
my_list = [1, 1, 0, True]
print("any() one Flase Value: ", any(my_list))

any() True Value:  True

In [112]:
#with all Flase
my_list = [0,0,False]
print("any() all Flase Value: ", any(my_list))

any() all Flase Value:  False

In [113]:
#empty list
my_list = []
print("any() Empty list: ", any(my_list))

any() Empty list:  False

##  Nested List
- The list can contain another list (sub-list), which in turn contains another list and so on. This is termed a nested list.

In [114]:
my_list = [100, 200, 300, [777, 888, 999], 400]

In [115]:
type(my_list)

list

- In order to retrieve the elements of the inner list we need a nested For-Loop.

In [120]:
my_nestedlist = [[100, 200, 300],[777, 888, 999]]

In [121]:
print('accessing 3nd element of 2nd list', my_nestedlist[1][2])

accessing 3nd element of 2nd list 999

In [124]:
for i in my_nestedlist:
    print('lis', i, 'elements')
    for j in i:
        print(j)

lis [100, 200, 300] elements
100
200
300
lis [777, 888, 999] elements
777
888
999

As we can see in the above output the indexing of the nested lists with 

the index value of the outer loop first followed by the inner list. 

We can print values of the inner lists through a nested for-loop.

## List Comprehension
- List comprehension is a simpler method to create a list from an existing list. 

- It is generally a list of iterables generated with an option to include only the items which satisfy a condition.

## outputList = {expression(variable) for variable in inputList [if variable condition1][if variable condition2]

- expression: Optional. expression to compute the members of the output List which satisfies the optional conditions
- variable: Required. a variable that represents the members of the input List.
- inputList: Required. Represents the input set.
- condition1, condition2 etc; : Optional. Filter conditions for the members of the output List.

In [ ]:
#outputList = {expression(variable) for variable in inputList [if variable condition1][if variable condition2]

In [129]:
inputlist = [1,2,3,4,5]
#creating list square value of even numbers
squarelist = [var*var for var in inputlist if var%2==0]
print(squarelist)

[4, 16]

In [134]:
#create odd sqaure list for range of numbers
squarelist1 = [var*var for var in range(10) if var%2!=0]
print(squarelist1)

[1, 9, 25, 49, 81]

In [135]:
my_list = [1, 2,3, 4,5]
2 in my_list

True

In [136]:
2 not in my_list

False

In [138]:
10 not in my_list

True

In [139]:
my_list*5 # Repeat the list my_list 5 times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]