## Strings
- Strings in python are surrounded by either single quotation marks, or double quotation marks.

- 'hello' is the same as "hello".

- You can display a string literal with the print() function:


- In Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

## Creating a String
- Strings in Python can be created using single quotes or double quotes or even triple quotes.

In [3]:
#creating a sting with sinle quotes
my_str = 'raju kalyan'
print("print string with single quotes")
print(my_str)
print(type(my_str))

print string with single quotes
raju kalyan
<class 'str'>

In [5]:
#creating string with double quotes
my_str = "raju kalyan"
print('print string with double quotes')
print(my_str)

print string with double quotes
raju kalyan

In [7]:
#creating string with tripple quotes
my_str = '''raju kalyan'''
print('print string with tripple quotes')
print(my_str)
print(type(my_str))

print string with tripple quotes
raju kalyan
<class 'str'>

In [8]:
#Assign String to a Variable
a = "raju"
print(a)

raju

In [10]:
#Multiline Strings
#You can assign a multiline string to a variable by using three quotes:
a = '''raju Kalyan'''#using 3 sinle quotes
print(a)
type(a)

raju Kalyan

str

In [11]:
#you can use three double quotes 
a = """raju"""
print(a)
type(a)

raju

str

## Looping Through a String
- Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [13]:
for i in "raju Kalyan":
    print(i)

r
a
j
u

K
a
l
y
a
n

In [14]:
##String Length
#To get the length of a string, use the len() function.
a = 'raju'
print(len(a))

4

In [15]:
#Check String
#To check if a certain phrase or character is present in a string, we can use the keyword in.

txt = 'python4 is developed by kalyan'
print('kalyan' in txt)

True

In [16]:
#Use it in an if statement:
txt = 'python4 is developed by kalyan'
if 'kalyan' in txt:
    print('yes kalyan is present')

yes kalyan is present

In [17]:
#Use it in an if statement:
txt = 'python4 is developed by kalyan'
if 'kalyan2' in txt:
    print('yes kalyan is present')

In [18]:
#Check if NOT
#To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
txt = 'python4 is developed by kalyan'
print('kalyan2' not in txt)

True

In [20]:
txt = 'python4 is developed by kalyan'
print('kalyan' not in txt)

False

In [22]:
#Use it in an if statement:
txt = 'python4 is developed by kalyan'
if 'kalyan2' not in txt:
    print('yes kalyan2 is not present')

yes kalyan2 is not present

In [1]:
txt = 'python4 is developed by kalyan'
if 'kalyan' not in txt:
    print('yes kalyan is not present')

## Accessing characters in Python
- In Python, individual characters of a String can be accessed by using the method of Indexing. 
- Indexing allows negative address references to access characters from the back of the String, 
- e.g. -1 refers to the last character, -2 refers to the second last character, and so on. 

- While accessing an index out of the range will cause an IndexError. 
- Only Integers are allowed to be passed as an index, float or other types that will cause a TypeError.

In [28]:
my_str = 'rajukalyan'
#print 1st character of the string
print("\n the 1st char is:")
print(my_str[0])

 the 1st char is:
r

In [27]:
#print last character of the string
print("\n The last character is:")
print(my_str[-1])

 The last character is:
n

## Slicing
- You can return a range of characters by using the slice syntax.

- Specify the start index and the end index, separated by a colon, to return a part of the string.

In [31]:
my_str ='rajukalyan'
print("printing 2nd to 7th char")
print(my_str[2:7])

printing 2nd to 7th char
jukal

In [32]:
#printing char between 3rd to 2nd last char
print(my_str[3:-2])

ukaly

In [33]:
#get char from starting position to 5th
print(my_str[:5])

rajuk

In [34]:
#get the char from 2nd position to end
print(my_str[2:])

jukalyan

In [35]:
#Negative Indexing
#Use negative indexes to start the slice from the end of the string:
print(my_str[-5:-2])

aly

## Deleting/Updating from a String
- In Python, Updation or deletion of characters from a String is not allowed. This will cause an error because 
- item assignment or item deletion from a String is not supported. Although deletion of the entire String is 
- possible with the use of a built-in del keyword. This is because Strings are immutable, hence elements of a
- String cannot be changed once it has been assigned. Only new strings can be reassigned to the same name.

In [36]:
my_str = 'raju'
#updating the char of the string
my_str[2] = 'g'

TypeError: 'str' object does not support item assignment

In [37]:
#Updating Entire String:
my_str1 = 'raju'
print(my_str1)
my_str1 = 'kalayan'
print(my_str1)

raju
kalayan

In [38]:
# Deletion of a character: 
my_str = 'raju'

#deleting char of the string
del my_str[2]

TypeError: 'str' object doesn't support item deletion

## Deleting Entire String:
- Deletion of the entire string is possible with the use of del keyword. Further, 
- if we try to print the string, this will produce an error because String is deleted and is unavailable to be printed.

In [40]:
my_str = 'raju'
print(my_str)
del my_str
print(my_str)

raju

NameError: name 'my_str' is not defined

## Escape Sequencing in Python
- While printing Strings with single and double quotes in it causes SyntaxError 
- because String already contains Single and Double Quotes and hence cannot be printed with the use of either of these. 
- Hence, to print such a String either Triple Quotes are used or Escape sequences are used to print such Strings. 

- Escape sequences start with a backslash and can be interpreted differently. 
- If single quotes are used to represent a string, 
- then all the single quotes present in the string must be escaped and same is done for Double Quotes.

In [43]:
#Escaping single quotes
my_str = 'I\'m "raju"'
print(my_str)

I'm "raju"

In [45]:
#Escaping double quotes
my_str = "I'm raju \"kalyan\""
print(my_str)

I'm raju "kalyan"

In [46]:
#printing the path use o escape sequence
path = "C:\\Python\\raju\\"
print(path)

C:\Python\raju\

In [56]:
#To ignore the escape sequences in a String, r or R is used, 
#this implies that the string is a raw string and escape sequences inside it are to be ignored.

path = r"E:\RAJU\resumes"
print(path)

E:\RAJU\resumes

In [58]:
path = R"E:\RAJU\resumes"
print(path)

E:\RAJU\resumes

## Formatting of Strings
- Strings in Python can be formatted with the use of format() method 
- which is a very versatile and powerful tool for formatting Strings. 
- Format method in String contains curly braces {} as placeholders which can hold arguments according to position
- or keyword to specify the order.

In [64]:
my_str = "{} {} {}".format('raju', 'kalyan', 'python')
print(my_str)

raju kalyan python

In [66]:
my_str = "{0} {1} {2}".format('raju', 'kalyan', 'python')
print(my_str)

raju kalyan python

In [68]:
my_str = "{a} {b} {c}".format(a='raju', b = 'kalyan', c = 'python')
print(my_str)

raju kalyan python

In [71]:
## Rounding off Integers
my_str = "{0:.2f}".format(1/7)
print(my_str)

0.14

In [72]:
## Rounding off Integers
my_str = "{0:.3f}".format(1/7)
print(my_str)

0.143

In [73]:
#A string can be left() or center(^) justified with the use of format specifiers, separated by a colon(:).  


# String alignment
my_str = "|{:<10}|{:^10}|{:>10}|".format('raju', 'kalyan', 'python')
print("\nLeft, center and right alignment with Formatting: ")
print(my_str)

Left, center and right alignment with Formatting:
|raju      |  kalyan  |    python|

In [74]:
my_str = "|{:>10} | {:^10} | {:<10}".format("raju", 'kalyan','python')
print(my_str)

|      raju |   kalyan   | python

In [75]:
# To demonstrate aligning of spaces
my_str = "\n{0:^16} was founded in {1:<4}!".format("rajukalyan", 2009)
print(my_str)

   rajukalyan    was founded in 2009!

In [83]:
#Old style formatting was done without the use of format method by using % operator 

myint = 12.793975
print("the value of integer1 is %3.2f" %myint)

the value of integer1 is 12.79

In [84]:
print("the value of integer1 is %3.4f" %myint)

the value of integer1 is 12.7940

In [85]:
age = 30
txt = "My name is raju, and I am {}"
print(txt.format(age))

My name is raju, and I am 30

In [86]:
name = 'raju'
age = 30
print(f'my name is {name} and my age is {age}')

my name is raju and my age is 30

In [88]:
print('my name is {} and my age is {}'.format(name, age))

my name is raju and my age is 30

In [89]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

## String Methods
- capitalize()
- In Python, the capitalize() method returns a copy of the original string and converts the first character of the string 
- to a capital (uppercase) letter while making all other characters in the string lowercase letters.

In [92]:
name = 'raju'

In [93]:
name.capitalize()

'Raju'

In [95]:
name1 = 'raju'
name2 = 'kalyan'
print(name1.capitalize() + name2.capitalize())

RajuKalyan

In [97]:
txt = '30 is my age'
print(txt.capitalize())

30 is my age

- The casefold() method returns a string where all the characters are lower case.

- This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning 
- that it will convert more characters into lower case, and will find more matches when comparing two strings and 
- both are converted using the casefold() method.

In [99]:
#casefold() 

txt = 'hello raju welcome to python class'
print(txt.casefold())

hello raju welcome to python class

## center()
- The center() method will center align the string, using a specified character (space is default) as the fill character.
- Syntax
- string.center(length, character)
- length:	Required. The length of the returned string
- character:	Optional. The character to fill the missing space on each side. Default is " " (space)

In [101]:
my_str = 'raju'
print(my_str.center(20))

        raju

In [103]:
my_str = 'raju'
print(my_str.center(20, 'R'))

RRRRRRRRrajuRRRRRRRR

## count()
- The count() method returns the number of times a specified value appears in the string.
- Syntax
-  string.count(value, start, end)
- value:	Required. A String. The string to value to search for
- start:	Optional. An Integer. The position to start the search. Default is 0
- end:	Optional. An Integer. The position to end the search. Default is the end of the string

In [105]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [107]:
txt = 'I love apples, apple are my favorite fruit'
x = txt.count('apple', 10, 25)
print(x)

1

## endswith()
- The endswith() method returns True if the string ends with the specified value, otherwise False.
- Syntax
- string.endswith(value, start, end)
- value	: Required. The value to check if the string ends with
- start	: Optional. An Integer specifying at which position to start the search
- end	: Optional. An Integer specifying at which position to end the search

In [110]:
txt = 'Hello welcome to my world.'
x = txt.endswith('.')
print(x)

True

In [111]:
#Check if position 5 to 11 ends with the phrase "my world.":
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

## startswith()
- The startswith() method returns True if the string starts with the specified value, otherwise False.
- Syntax
- string.startswith(value, start, end)
- value: 	Required. The value to check if the string starts with
- start: 	Optional. An Integer specifying at which position to start the search
- end: 	Optional. An Integer specifying at which position to end the search

In [112]:
#Check if position 7 to 20 starts with the characters "wel":
txt = "Hello, welcome to my world"
print(txt.startswith('wel', 7, 20))

True

In [115]:
t = "Hello, welcome to my world"
print(txt.startswith('H'))

True

In [116]:
t = "Hello, welcome to my world"
print(txt.startswith('Hello'))

True

## find()
- The find() method finds the first occurrence of the specified value.

- The find() method returns -1 if the value is not found.

- The find() method is almost the same as the index() method, 
- the only difference is that the index() method raises an exception if the value is not found.

- Syntax
- string.find(value, start, end)

- value	Required. The value to search for
- start	Optional. Where to start the search. Default is 0
- end	Optional. Where to end the search. Default is to the end of the string

In [ ]:
txt = "hello welcome to my world python"
print(txt.find('python'))

In [120]:
#Where in the text is the first occurrence of the letter "e"?:
txt = "hello welcome to my world python"
print(txt.find('e'))

1

In [122]:
#Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?
print(txt.find('e', 7, 10))

7

In [123]:
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

## index() 
- The index() method finds the first occurrence of the specified value.

- The index() method raises an exception if the value is not found.

- The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if 
- the value is not found.

In [124]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [125]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [126]:
#If the value is not found, the find() method returns -1, but the index() method will raise an exception:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

## isalnum()
-The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

- Example of characters that are not alphanumeric: (space)!#%&? etc.

- Syntax
- string.isalnum()

In [127]:
my_str = 'raju777'
print(my_str.isalnum())

True

In [129]:
my_str2 = 'raju'
print(my_str2.isalnum())

True

In [130]:
my_str3 = '777'
print(my_str3.isalnum())

True

In [131]:
my_str4 = '#$#$'
print(my_str4.isalnum())

False

## isalpha()

- The isalpha() method returns True if all the characters are alphabet letters (a-z).

- Syntax
- string.isalpha()

In [133]:
my_str = 'raju777'
print(my_str.isalpha())

False

In [134]:
my_str = 'raju'
print(my_str.isalpha())

True

## isdigit()

- The isdigit() method returns True if all the characters are digits, otherwise False.

- Exponents, like ², are also considered to be a digit.

In [135]:
my_str = '777'
print(my_str.isdigit())

True

In [136]:
my_str = 'raju777'
print(my_str.isdigit())

False

## islower()
- The islower() method returns True if all the characters are in lower case, otherwise False.

- Numbers, symbols and spaces are not checked, only alphabet characters.
- Syntax ; string.islower()

In [137]:
my_str = 'raju'
print(my_str.islower())

True

In [138]:
my_str = 'raju777'
print(my_str.islower())

True

In [139]:
my_str = "Raju"
print(my_str.islower())

False

## isnumeric()

- The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

- Exponents, like ² and ¾ are also considered to be numeric values.

- "-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.
- Syntax
- string.isnumeric()

In [141]:
my_str = '777'
print(my_str.isnumeric())

True

In [142]:
my_str = 'raju777'
print(my_str.isnumeric())

False

In [143]:
my_str = '7.77'
print(my_str.isnumeric())

False

In [144]:
my_str = '-777'
print(my_str.isnumeric())

False

# isupper()
- The isupper() method returns True if all the characters are in upper case, otherwise False.

- Numbers, symbols and spaces are not checked, only alphabet characters.
- Syntax
- string.isupper()

In [146]:
my_str = 'RAJU'
print(my_str.isupper())

True

In [147]:
my_str = 'Raju'
print(my_str.isupper())

False

# zfill()
- The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

- If the value of the len parameter is less than the length of the string, no filling is done.

In [150]:
my_str = 'raju'
print(my_str.zfill(10))

000000raju

In [151]:
my_str = "raju"
print(my_str.zfill(4))

raju

# upper()

- The upper() method returns a string where all characters are in upper case.

- Symbols and Numbers are ignored.

In [152]:
my_str = 'Raju'
print(my_str.upper())

RAJU

## strip() 
- The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) 
- characters (space is the default leading character to remove)

In [153]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [154]:
#Remove the leading and trailing characters:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

## split()
- split() method in Python split a string into a list of strings after breaking the given string by the specified separator.
- Syntax : str.split(separator, maxsplit)
## Parameters :
- separator : This is a delimiter. The string splits at this specified separator. If is not provided then any white space is a separator.

- maxsplit : It is a number, which tells us to split the string into maximum of provided number of times. If it is not provided then the default is -1 that means there is no limit.

- Returns : Returns a list of strings after breaking the given string by the specified separator.

In [156]:
my_str = 'my name is raju. python is my best programming language'
print(my_str.split()) #default seperator is space

['my', 'name', 'is', 'raju.', 'python', 'is', 'my', 'best', 'programming', 'language']

In [157]:
#splits at ','
my_str = 'raju, kalyan, python'
print(my_str.split(','))

['raju', ' kalyan', ' python']

In [158]:
#split at ':'
my_str = 'raju:kalyan:python'
print(my_str.split(':'))

['raju', 'kalyan', 'python']

In [161]:
#split ar 'R'
my_str = 'rajuRkalyanRpythonR#'
print(my_str.split('R'))

['raju', 'kalyan', 'python', '#']

In [162]:
#Example to demonstrate how split() function works when maxsplit is specified
#max split 0
my_str = 'raju, kalyan, python, program'
print(my_str.split(',', 0))

['raju, kalyan, python, program']

In [165]:
#max split 4
print(my_str.split(',', 4))

['raju', ' kalyan', ' python', ' program']

In [166]:
#max split 1
print(my_str.split(',', 1))

['raju', ' kalyan, python, program']

## join()
- Python String join() method is a string method and returns a string in which the elements of the 
- sequence have been joined by the str separator.
## Syntax: 

- string_name.join(iterable) 

## Parameters: 

- The join() method takes iterable – objects capable of returning their members one at a time. Some examples are List, Tuple, String, Dictionary, and Set

## Return Value: 

- The join() method returns a string concatenated with the elements of iterable. 

## Type Error:

- If the iterable contains any non-string values, it raises a TypeError exception.

In [169]:
list1 =['a','b','c','d','e']
s = '-'
s = s.join(list1)
print(s)

a-b-c-d-e

In [171]:
#Joining with an empty string
my_str = ''.join(list1)
print(my_str)

abcde

In [173]:
#Join all items in a dictionary into a string, using the word "RRR" as separator:
mydict = {'name': 'raju', 'age': 30, 'program': 'python'}
sep = 'RRR'
my_str = sep.join(mydict)
print(my_str)
#Note: When using a dictionary as an iterable, the returned values are the keys, not the values.

nameRRRageRRRprogram

## replace()

- The replace() method replaces a specified phrase with another specified phrase.

## Syntax
- string.replace(oldvalue, newvalue, count)
- oldvalue	Required. The string to search for
- newvalue	Required. The string to replace the old value with
- count	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [176]:
my_str = 'I know raju'
print(my_str.replace('raju', 'python'))

I know python

In [177]:
#Replace all occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [179]:
#Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

## swapcase()
- The string swapcase() method converts all uppercase characters to lowercase and vice versa of the given string, and returns it.
## Syntax:

- string_name.swapcase()
- Here string_name is the string whose cases are to be swapped.
- Return value:

- The swapcase() method returns a string with all the cases changed.

In [180]:
my_str = 'rAjU'
print(my_str.swapcase())

RaJu

In [181]:
my_str = 'raju kalyan'
print(my_str.swapcase())

RAJU KALYAN

In [182]:
my_str = "RAJU"
print(my_str.swapcase())

raju

## title()
- The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

- If the word contains a number or a symbol, the first letter after that will be converted to upper case.

## Syntax
- string.title()

In [183]:
#Make the first letter in each word upper case:

txt = "Welcome to my 2nd world"
print(txt.title())

Welcome To My 2Nd World

In [184]:
#Note that the first letter after a non-alphabet letter is converted into a upper case letter:

txt = "hello b2b2b2 and 3g3g3g"
print(txt.title())

Hello B2B2B2 And 3G3G3G

## lstrip()
- The lstrip() method removes any leading characters (space is the default leading character to remove)

## Syntax
- string.lstrip(characters)

- characters	Optional. A set of characters to remove as leading characters

In [188]:
a = "   raju      "
x = a.lstrip()
print('my name is',  x ,' kalyan')

my name is raju        kalyan

In [189]:
# Remove the leading characters:

txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

## rstrip()
- The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.
## Syntax
- string.rstrip(characters)
- characters	Optional. A set of characters to remove as trailing characters

In [191]:
a = "       raju  "
x = a.rstrip()
print('my name is',  x ,' kalyan')

my name is        raju  kalyan

In [192]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [193]:
#Remove the trailing characters if they are commas, s, q, or w:

txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

## rjust()
- 1. String rjust() The string rjust() method returns a new string of given length after substituting a given character in left side of original string.

## Syntax:

- string.rjust(length, fillchar)
## Parameters:

- length: length of the modified string. If length is less than or equal to the length of the original string then original string is returned.
- fillchar: (optional) characters which needs to be padded. If it’s not provided, space is taken as a default argument.

## Returns:

- Returns a new string of given length after substituting a given character in left side of original string.

In [194]:
# Python program to demonstrate working of 
# rjust()
string = 'raju'
length = 8
  
# If no fill character is provided, space
# is used as fill character
print(string.rjust(length))

    raju

In [195]:
# example string
string = 'geeks'
length = 8
fillchar = '*'
  
print(string.rjust(length, fillchar))

***geeks

## ljust()

- The string ljust() method returns a new string of given length after substituting a given character in right side of original string.

## Syntax:

- string.ljust(length, fillchar)

## Parameters:

- length: length of the modified string. If length is less than or equal to the length of the original string then original string is returned.
fillchar: (optional) characters which needs to be padded. If it’s not provided, space is taken as a default argument.

## Returns:

- Returns a new string of given length after substituting a given character in right side of original string.

In [196]:
# example string
string = 'raju'
length = 8
  
# If no fill character is provided, space
# is used as fill character.
print(string.ljust(length))

raju

In [197]:
# example string
string = 'geeks'
length = 8
fillchar = '*'
  
# print left justified string
print(string.ljust(length, fillchar))

geeks***

## rindex()
- The rindex() method finds the last occurrence of the specified value.

- The rindex() method raises an exception if the value is not found.

- The rindex() method is almost the same as the rfind() method. See example below.

## Syntax
- string.rindex(value, start, end)

- value	Required. The value to search for
- start	Optional. Where to start the search. Default is 0
- end	Optional. Where to end the search. Default is to the end of the string

In [199]:
#Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [200]:
# Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [201]:
# Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [202]:
#If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

## rfind()

- The rfind() method finds the last occurrence of the specified value.

- The rfind() method returns -1 if the value is not found.

- The rfind() method is almost the same as the rindex() method. See example below.

## Syntax
- string.rfind(value, start, end)

- value	Required. The value to search for
- start	Optional. Where to start the search. Default is 0
- end	Optional. Where to end the search. Default is to the end of the string

In [204]:
#Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [207]:
#Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [208]:
#Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

In [209]:
#If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

## partition()

- The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

- The first element contains the part before the specified string.

- The second element contains the specified string.

- The third element contains the part after the string.
- Note: This method searches for the first occurrence of the specified string.
## Syntax
- string.partition(value)
- value	Required. The string to search for

In [210]:
# Search for the word "bananas", and return a tuple with three elements:

# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"

txt = "I could eat bananas all day"
print(txt.partition('bananas'))

('I could eat ', 'bananas', ' all day')

In [211]:
# If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')